.product-button{
    border: none;
    border-radius: 10px;
    color: rgb(15, 14, 14);
    font-size: 1.2rem;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}
.product-button:hover {
    background-color:  rgb(219, 255, 39);
}