
.cart-item-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    margin: auto;
    
}

.product-name {
    font-size: 18px;
    font-weight: bold;
}

.quantity {
    color: #555;
}

.price {
    color: green;
    font-weight: bold;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 8px;
}